@using Newtonsoft.Json;
@model ChartViewModel
@{
    ViewData["Title"] = "Chart";
}


<script src="~/lib/chart.js/chart.bundle.min.js"></script>
<script src="~/lib/chart.js/chart.bundle.js"></script>
<script src="~/lib/chart.js/chart.min.js"></script>
<script src="~/lib/chart.js/chart.js"></script>
    
<h1>Chart</h1>
<div>
    <canvas id="line-chart"></canvas>
</div>
<script>
    // 資料
    var labelsJson = '@Html.Raw(JsonConvert.SerializeObject(Model.Labels))';
    var datasJson = '@Html.Raw(JsonConvert.SerializeObject(Model.Datas))';
    var labels = JSON.parse(labelsJson);
    var datas = JSON.parse(datasJson);

    // 資料
    var data = {
        labels: labels,
        datasets: [
            {
                label: "Line Chart",
                data: datas,
                fill: false,
                borderColor: "rgba(75, 192, 192, 1)",
                lineTension: 0.1
            }
        ]
    };

    // 選項
    var options = {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true// 刻度從零開始
            }
        }
    };

    // 繪製折線圖
    var ctx = document.getElementById('line-chart');
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: options
    });
</script>

