
@{
    ViewData["Title"] = "Chart3";
}

<h1>Chart3</h1>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chartContainer"></div>
<script>
    // 加載 Google 圖表庫
    google.charts.load('current', { 'packages': ['corechart'] });

    // 在圖表庫加載完成後執行代碼
    google.charts.setOnLoadCallback(drawChart);

    // 繪製圖表函數
    function drawChart() {
        // 創建數據表對象
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Category');
        data.addColumn('number', 'Value');
        data.addRows([
            ['Category 1', 10],
            ['Category 2', 20],
            ['Category 3', 30]
        ]);

        // 創建圖表對象
        var chart = new google.visualization.BarChart(document.getElementById('chartContainer'));

        // 設定圖表選項
        var options = {
            title: 'My Chart',
            width: 400,
            height: 300
        };

        // 繪製圖表
        chart.draw(data, options);
    }
</script>

<a href="@ViewContext.HttpContext.Request.Headers["Referer"].ToString()"
   class="btn btn-primary">返回上一頁</a>