@{
    ViewData["Title"] = "Home Page";  
    
}
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/home.css" rel="stylesheet" />

<div class="container-wrapper">
    <div class="homecontainer">
        <h2>帳號管理</h2>
        <img src="~/images/accountmanage.png" />
        <button>進入</button>
    </div>
    <div class="homecontainer">
        <h2>資料視覺化</h2>
        <img src="~/images/datavision.png" />
        <button>進入</button>
    </div>
</div>